@charset "UTF-8";

body{
    background-image: linear-gradient(to top, #1138BA, #4F6DD0);
}

#login{
    width: 80vw;
}

#img{
    float: left;
    height: 100%;
    width: 30%;

}

#form{
    float: right;
    width: 70%;
    height: 100%;
}

form > h1{
    text-align: center;
    font-size: 1.7em;
}

form > p{
    text-align: justify;
    font-size: 1.2em;
}

#log{
    width: 80%;
    height: 50px;
    margin: auto;
    margin-top: 60px;
}

#fgt{
    width: 80%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
}