@charset "UTF-8";

/*Paleta
Verdes: (mais escuro pro mais claro)
#6E9DE6
#6EC2E6
#6EE6E3
Roxos: (Mais escuro pro mais claro)
#6E77E6
#7853E5
Cinza:
#BBCBE6
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    background-color: #2F52C6;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login{
    width: 250px;
    height: 550px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    transition: width 0.6s, height 0.6s;
    transition-timing-function: ease;
}

#img{ 
    background: url(../images/pattern.jpg);
    background-size: cover;
    height: 200px;
    display: block;
}

#form{
    display: block;
    padding: 10px;
}

form > h1{
    margin-bottom: 10px;
    margin-top: 25px;
}

form > p{
    font-size: 0.9em;
    margin-bottom: 25px;
}

.but{
    margin-top: 10px;
}

#log{
    display: block;
    height: 40px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    background-color: #0C2988;
    color: white;
    border: none;
    border-radius: 5px;
}

#log:hover{
    background-color: #4F6DD0;
    transition: background-color 0.2s;
    transition-timing-function: ease;
}

#fgt{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #9bb2ff;
    background-color: #1a3fb6;
    width: 100%;
    height: 40px;
    padding-top: 13px;
    border-radius: 5px;
    font-size: 1em;
}

#fgt:hover{
    background-color: #6182ee;
    transition: background-color 0.2s;
    transition-timing-function: ease;
    color: white;
}

#icon{
    font-size: 0.8em;
}

.camp{
    display: block;
    background-color: #0C2988;
    padding: 4px;
    margin: 5px 0px;
    height: 45px;
    border-radius: 7px;
}

#usu, #sen{
    display: block;
    float: left;
    color: white;
    font-size: 2em;
    padding: 5px;
    width: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transform: translate(-3px, -4px);
}

input[type="email"], input[type="password"]{
    background-color: white;
    height: 100%;
    width: calc(100% - 40px);
    border-radius: 7px;
    border: none;
    padding: 5px;
}
